.system-design {
  @include flex-row;
  height: calc(100vh - #{$wizard-height} - #{$header-scenario-height} - #{$footer-scenario-height});
  border-top: $gray-border;

  .components {
    width: 22rem;
    background-color: $primary-gray-color-1;
    border-right: $gray-border;
    overflow-y: auto;
  }

  .components__title {
    @include flex-column-justify-center;
    height: 2.85rem;
    background-color: $white;
    padding: 1rem;

    h2 {
      padding: 0;
      margin: 0;
      font-size: $font-size-normal;
      color: $primary-color-2;
      font-weight: 700;
      display: inline-block;
    }
  }

  .components__content {
    padding: 1rem 1rem 0;

    .section {
      padding-bottom: 1rem;

      &__title h3 {
        font-size: $font-size-normal;
      }

      &__component {
        @include flex-row;
        align-items: center;
        height: 3rem;
        border-radius: $gui-component-radius;
        box-shadow: $box-shadow-frame;
        background-color: $white;
        border-left: 4px solid #A4ADFB;
        padding: .5rem;
        margin-bottom: .5rem;
        @include user-select-none;
        cursor: move;
      }

      .img {
        height: 2rem;
        width: 2rem;
      }

      .name {
        font-size: 1rem;
        font-weight: 300;
        color: $primary-color-2;
        padding-left: .5rem;
      }

      .drag {
        flex: 1;
        text-align: right;
      }

      &--providers .section__component{
        border-left-color: $component-border-color--providers;
      }

      &--production .section__component{
        border-left-color: $component-border-color--production;
      }

      &--conversion .section__component{
        border-left-color: $component-border-color--conversion;
      }

      &--storage .section__component{
        border-left-color: $component-border-color--storage;
      }

      &--demand .section__component{
        border-left-color: $component-border-color--demand;
      }

      &--bus .section__component{
        border-left-color: $component-border-color--bus;
      }
    }
  }

  .gui {
    position: relative;
    flex: 1;
    height: 100%;

    &__clear {
      position: absolute;
      top: 0;
      right: 0;
      padding: 1rem;
      background-color: $white;
    }

    &__empty-text {
      display: inline-block;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 50%;
      transform: translateX(-50%);

      span {
        color: $primary-color-2;
        font-weight: 300;
      }
    }
  }

  .gui-component {
    position: relative;
    height: 8rem;
    width: 9.5rem;
    border-radius: $gui-component-radius;
    background-color: $primary-gray-color-1;
    font-size: 12px;
    border-bottom: 4px solid #A4ADFB;
    cursor: move;

    &:hover::after {
      content: 'X';
      position: absolute;
      top: 0;
      right: 0;
      background-color: $white;
      width: 1.15rem;
      height: 1.15rem;
      font-weight: 700;
      line-height: 1rem;
      padding-left: .25rem;
      border: 1px solid $primary-gray-color-4;
      border-radius: 100%;
      cursor: pointer;
    }

    &__name {
      @include flex-column-align-justify-center;
      height: 2.5rem;
      padding: 0 .5rem;

      span {
        display: inline-block;
        word-break: break-all;
        text-align: center;
      }
    }

    &__bottom {
      @include flex-row;
    }

    .input .node {
      background-color: #4EC4C4;
    }

    .output .node {
      background-color: #C46A4E;
    }

    .input,
    .output {
      flex: 1;
      @include flex-column-align-justify-center;
      flex-wrap: wrap;
      max-height: calc(#{$gui-component-bg-size} + 0.5rem);

      .node {
        width: $gui-component-node-size;
        height: $gui-component-node-size;
        border-radius: 100%;
        margin: .25rem 0;
        cursor: pointer;
      }

      .node--empty {
        background-color: $white;
        border: 1px solid $primary-gray-color-3;
      }
    }

    .img {
      position: relative;
      width: $gui-component-bg-size;
      height: $gui-component-bg-size;
      background-color: $white;
      border-radius: 100%;
    }

    // section colors
    &--providers {
      border-bottom-color: $component-border-color--providers;
    }

    &--production {
      border-bottom-color: $component-border-color--production;
    }

    &--conversion {
      border-bottom-color: $component-border-color--conversion;
    }

    &--storage {
      border-bottom-color: $component-border-color--storage;
    }

    &--demand {
      border-bottom-color: $component-border-color--demand;
    }

    &--bus {
      border-bottom-color: $component-border-color--bus;
    }

    // components images
    &--dso .img::before {
      @include gui-component-image(url(../../assets/gui/electric_grid.svg));
    }

    &--pv .img::before {
      @include gui-component-image(url(../../assets/gui/pv_plant.svg));
    }

    &--wind .img::before {
      @include gui-component-image(url(../../assets/gui/wind_turbine.svg));
    }

    &--transformer_in .img::before {
      @include gui-component-image(url(../../assets/gui/transformer_in.svg));
    }

    &--transformer_out .img::before {
      @include gui-component-image(url(../../assets/gui/transformer_out.svg));
    }

    &--storage_in .img::before {
      @include gui-component-image(url(../../assets/gui/storage_in.svg));
    }

    &--storage_out .img::before {
      @include gui-component-image(url(../../assets/gui/storage_out.svg));
    }

    &--solar_inverter .img::before {
      @include gui-component-image(url(../../assets/gui/solar_inverter.svg));
    }

    &--storage .img::before {
      @include gui-component-image(url(../../assets/gui/battery.svg));
    }

    &--demand .img::before {
      @include gui-component-image(url(../../assets/gui/demand.svg));
    }

    &--bus .img::before {
      @include gui-component-image(url(../../assets/gui/power_antenna.svg));
    }
  }
}