@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

.hero {
  padding-top: $top-nav-height;
  @include flex-row-justify-center;

  &> div {
    @include section-width;
    @include flex-row;
  }

  &__text {
    padding-top: 7rem;
    padding-right: 12rem;

    h1 {
      text-align: left;
      font-size: 2.5rem;
      color: $primary-color-2;
      margin-bottom: 1rem;
    }

    span {
      display: block;
      text-align: left;
      font-size: $font-size-normal;
      font-weight: 300;
      margin-bottom: 2rem;
    }
  }

  &__image {
    padding-top: 4rem;

    img {
      max-width: calc(#{$section-max-width} / 2);
    }
  }
}

// open_plan 2
.hero2 {
  padding-top: $top-nav-height;
  @include flex-row-justify-center;

  &> div {
    @include section-width;
    @include flex-row;
  }

  &__text {
    padding-top: 7rem;
    padding-right: 7rem;

    h1 {
      text-align: left;
      font-size: $font-size-hero;
      color: $primary-color-2;
      margin-bottom: 1rem;
      font-weight: 700;
      line-height: 110%;
    }

    span {
      display: block;
      text-align: left;
      font-size: $font-size-medium;
      font-weight: 300;
      color: $text-color-secondary;
      margin-bottom: 2rem;
    }
  }

  &__image {
    padding-top: 4rem;
    padding-bottom: 4rem;

    img {
      max-width: calc(#{$section-max-width} / 2);
    }
  }

  a.btn {
    width: 100%;
  }
}

.features2 {
  padding-top: 4rem;
  padding-bottom: 4rem;
  @include flex-row-justify-center;
  background-color: $bg-color-light;

  &> div {
    @include section-width;
  }

  &__heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-bottom: 2rem;

    h2 {
      padding-top: 1rem;
      font-size: $font-size-large;
      font-weight: 700;
    }
  }

  &__items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  &__item {
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;

    h3 {
      padding: 1rem 0;
      font-size: 1.5rem;
      font-weight: 700;;
      color: $primary-color-1-dark;
    }

    p {
      line-height: 170%;;
    }
  }
}

.target2 {
  padding-top: 4rem;
  padding-bottom: 4rem;
  @include flex-row-justify-center;
  background-color: white;

  &> div {
    @include section-width;
  }

  &__heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-bottom: 2rem;

    h2 {
      padding-top: 1rem;
      font-size: $font-size-large;
      font-weight: 700;
    }
  }

  img {
    width: 100%;
  }
}