.project {
  @include flex-row-justify-center;

  &> div {
    @include section-width;
    position: relative;
  }

  &__top {
    @include flex-row-flex-start;
    align-items: baseline;

    .name,
    .location {
      display: inline-block;
      margin: 0;
    }

    .name {
      margin-right: $space-between-project-elements;
      padding-left: $space-between-project-elements;
    }

    .name::before {
      content: "";
      position: absolute;
      display: block;
      background-image: url(../../assets/icons/i_cell.svg);
      width: 1.5rem;
      height: 1.5rem;
      background-repeat: no-repeat;
      background-size: contain;
      top: 0.5rem;
      left: 0;
    }
  }

  &__details {
    padding-top: $space-between-project-elements;
    padding-left: $space-between-project-elements;

    @media only screen and (min-width: $medium-screen) {
      @include flex-row-space-between;
    }

    .details {
      @include flex-row;
      justify-content: flex-start;
    }

    .detail {
      color: $text-color-secondary;

      &:not(:last-of-type) {
        padding-right: $space-between-project-elements;
      }

      &__property {
        font-weight: 300;
        padding-right: .75rem;
      }
    }

    .actions {
      @include flex-row;

      @media only screen and (min-width: $medium-screen) {
        justify-content: flex-end;
      }
    }

    .action {
      &:not(:first-of-type) {
        padding-left: $space-between-project-elements;
      }
    }
  }

  &__scenarios {
    padding-top: $space-between-project-elements;
    padding-left: $space-between-project-elements;

    .toggle {
      padding-bottom: .75rem;

      button.btn {
        font-weight: 300;
        text-transform: uppercase;
      }
    }

    .card-body {
      padding: 0;
      border: none;
    }

    .list-group-item {
      @include flex-row-space-between;
      padding: $space-between-project-elements;
    }

    .details {
      @include flex-row;
    }
  }
}