.project {
  @include flex-row-justify-center;

  &> div {
    @include section-width;
    position: relative;
  }

  &__top {
    @include flex-row-flex-start;
    align-items: baseline;

    .name,
    .location {
      display: inline-block;
      margin: 0;
    }

    .name {
      margin-right: 1.5rem;
      padding-left: 1.5rem;
    }

    .name::before {
      content: "";
      position: absolute;
      display: block;
      background-image: url(../../assets/icons/i_cell.svg);
      width: 1.5rem;
      height: 1.5rem;
      background-repeat: no-repeat;
      background-size: contain;
      top: 0.5rem;
      left: 0;
    }
  }
}