.scenario-create {
  @include flex-row-justify-center;
  border-top: 2px solid $primary-gray-color-1;
  padding-bottom: 6rem;

  form {
    width: 100%;
  }

  .input-item {
    width: 100%;
    @include flex-row;
    padding-bottom: 0;
  }

  &__form,
  &__description {
    padding-top: 1.5rem;
    @include flex-row;
    
    @media only screen and (min-width: $large-screen) {
      flex: 1 1 0;
    }

    &> div {
      width: 100%;
      max-width: calc(#{$section-max-width} / 2);
    }
  }

  &__form {
    justify-content: flex-end;

    &> div {
      padding-left: 1rem;
      padding-right: $space-between-project-elements;
    }
  }

  &__description {
    justify-content: flex-start;
    background-color: $primary-gray-color-1;

    &> div {
      padding-right: 1rem;
      padding-left: $space-between-project-elements;
    }

    .form-text {
      margin-top: 1.75rem;
      font-size: $font-size-normal;
    }
  }
}