.project-setup.two-columns {
  @include flex-row-justify-center;
  border-top: 2px solid $primary-gray-color-1;

  .left,
  .right {
    @include flex-row;
    flex: 1 1 0;
    padding-top: $padding-sides-large;

    &> div {
      width: 100%;
      max-width: calc(#{$section-max-width} / 2);
    }
  }

  .left {
    justify-content: flex-end;

    &> div {
      padding-left: 1rem;
      padding-right: $space-between-project-elements;
    }

    .text {
      @include flex-row-space-between;
      font-weight: 300;
      padding-bottom: 1rem;

      .icon-question {
        @include info-icon;
      }
    }
  }

  .right {
    justify-content: flex-start;

    &> div {
      padding-right: 1rem;
    }
  }
}