// Colors
$primary-color-1: #002E50;
$primary-color-2: #06D6A0;

$secondary-color-1: #ef476f;
$secondary-color-2: #ffd166;


$white: #fff;

// Media-breaks
$small-screen: 640px;
$medium-screen: 1024px;
$large-screen: 1250px;
$xlarge-screen: 1500px;

// Typography {
$header-font-family: lato, Arial, Helvetica, sans-serif;
$main-font-family: lato, Arial, Helvetica, sans-serif;
$font-size-xlarge: 3.998rem; // 71.96px
$font-size-large: 2.827rem; // 50.89px
$font-size-medium-2: 1.999rem; // 35.99px
$font-size-medium: 1.414rem; // 25.45px
$font-size-normal: 1rem; //18px
$font-size-small: 0.8rem; // 14.40px
$font-size-mobile: 0.888rem; // 16px

$line-height-normal: 1.75rem;
$letter-spacing-normal: 0.03rem;

// Nav
$top-nav-padding-xsmall: 1rem;
$top-nav-padding-small: 2rem;
$top-nav-padding-large: 2rem;
$top-nav-height: 4.5rem;
$top-nav-button-height: calc(#{$top-nav-height} - (2 * 1rem));

// Logo
$logo-height: 2rem;

// Buttons
$button-border-radius: 3px;

// Layout
$section-max-width: 82rem;