a.btn,
button.btn {
  display: inline-block;
  background-color: $primary-color-1;
  color: $white;
  border-radius: $button-border-radius;
  letter-spacing: $letter-spacing-normal;
  font-weight: 400;

  &:link,
  &:hover,
  &:focus,
  &:visited,
  &:active {
    color: $white !important;
  }

  &:hover,
  &:focus {
    background-color: $primary-color-1-dark !important;
  }

  &:focus {
    box-shadow: none;
  }

  &--large {
    padding: 0.925rem;
    width: 100%;
    max-width: 30rem;
    font-size: $font-size-medium;
    text-transform: uppercase;
  }

  &--medium {
    padding: 0.55rem 0.75rem;
    font-size: $font-size-normal;
    min-width: 11rem;
  }

  &--small {
    padding: 0.4rem 0.75rem;
    font-size: $font-size-small;
  }

  &--hollow,
  &--transparent,
  &--action {
    background-color: transparent;
    color: $primary-color-1;

    &:link,
    &:hover,
    &:focus,
    &:visited,
    &:active {
      color: $primary-color-1 !important;
    }

    &:hover,
    &:focus {
      background-color: $white !important;
    }
  }

  &--hollow {
    border: 1px solid $primary-color-1;
  }

  &--transparent {
    font-weight: 700;
  }

  &--action {
    background-color: transparent;
    color: $primary-color-2;
    width: auto;
    padding: 0;

    &:link,
    &:hover,
    &:focus,
    &:visited,
    &:active {
      color: $primary-color-2 !important;
    }
  }

  .icon {
    padding-right: .25rem;
  }

  &--icon::before {
    content: "";
    position: relative;
    display: inline-block;
    width: 1rem;
    height: 1rem;
    background-repeat: no-repeat;
    background-size: cover;
    top: .15rem;
    left: -.5rem;
  }
}

// Dropdown
ul.dropdown-menu {
  box-shadow: $box-shadow-frame;
  border: 1px solid $primary-gray-color-2;
}

a.dropdown-item.active, 
a.dropdown-item:active {
  background-color: $primary-gray-color-2;
}