.btn {
  display: inline-block;
  padding: .75rem 1rem;
  border-radius: $button-border-radius;
  letter-spacing: $letter-spacing-normal;

  &--cta {
    background-color: $wam-primary-color-2;
    color: $wam-primary-color-1;
  }

  &--reversed {
    background-color: $white;
  }

  &--hollow {
    border: 1px solid $wam-primary-color-1;
    font-family: $main-font-family;
    font-weight: 600;
    font-size: 1rem;
  }
}