.components {
  h1 {
    text-align: center;
  }

  h2 {
    padding-top: 3rem;
    padding-left: 1rem;
  }

  ul li {
    padding-left: 1rem;
    max-width: 60rem;
  }

  .component {
    padding-bottom: 2rem;

    &--bg {
      background-color: $primary-gray-color-1;
    }

    &__title {
      padding: 1rem;
    }
  }
}