.footer {
	background-color: $primary-gray-color-1;
	height: $top-nav-height;
	@include flex-column-align-justify-center;

	&> div {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		@include section-width;
	}

	&__logo {
		img {
			height: $logo-height;
		}
	}

	&__links {
		@include flex-column-justify-center;
		
		ul {
			list-style: none;
			margin-bottom: 0;
		}

		li {
			display: inline-block;
		}
	}
}