.header {
  background-color: $white;
  @include flex-row-justify-center;

  &> div {
    @include section-width;
    position: relative;
  }

  &__title {
    font-size: $font-size-medium-2;
    font-weight: 400;
    text-align: center;
    margin: 0;
  }

  &__back {
    position: absolute;
    right: 1rem;

    a {
      font-size: $font-size-small;
      vertical-align: sub;
    }

    a::before {
      content: "";
      position: absolute;
      display: block;
      background-image: url(../../assets/icons/i_arrow_left.svg);
      width: 0.75rem;
      height: 0.75rem;
      background-repeat: no-repeat;
      background-size: cover;
      top: 0.7rem;
      left: -1.25rem;
    }
  }

  // Specific to project view
  &--project-view,
  &--scenario {
    height: 12.5rem;

    .header__title {
      padding-top: $header-title-top-position;
    }

    .header__back {
      top: $header-title-top-position;
    }
  }

  // Specific to scenario creation
  &--scenario {
    height: $header-scenario-height;

    &> div {
      position: relative;
      @include flex-row-space-between;
      align-items: center;
      max-width: 100%;
    }

    .project-name {
      font-size: $font-size-normal;
      color: $primary-gray-color-4;
    }

    .scenario-name {
      font-size: $font-size-small;
      color: $primary-gray-color-4;
      padding-left: 1rem;

      &::before {
        content: "- ";
        position: relative;
        left: -0.5rem;
      }
    }

    .header__load {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
    }

    .header__back {
      position: relative;
      top: 0;
      right: 0;

      a {
        vertical-align: middle;
      }

      a::before {
        top: 0.5rem;
      }
    }
  }

  // Specific to results page
  &--results {
    flex-wrap: wrap;

    &> div {
      width: 100%;
      @include flex-row-space-between;
    }

    .header__title {
      flex: 1;
    }

    .header__scenario,
    .header__export {
      padding-top: 2rem;
    }

    .header__scenario {
      select {
        min-width: 20rem;
      }
    }

    .header__export {
      @include flex-column;
      justify-content: flex-end;

      .btn .icon {
        font-size: 1.5rem;
        vertical-align: middle;
      }
    }

    .project-name {
      font-weight: 300;
      color: $primary-color-2;
    }
  }
}