@use '../abstracts/variables' as *;

.icon {
  &--small {
    font-size: 0.6rem;
  }
}

.icon[data-bs-toggle="tooltip"] {
  cursor: pointer;
  padding-left: 0.35rem;
  vertical-align: middle;
  color: $primary-color-1;
}

.actions .btn--action {
  .icon:not(.icon-results)::before {
    color: $primary-color-2;
}

  &:hover .icon:not(.icon-results)::before {
    color: $primary-color-2-light;
  }
}

.tooltip-inner {
  max-width: 350px!important;
}

.info-icon--left::before,
.info-icon--right::after {
  content: '';
  display: inline-block;
  width: 1rem;
  height: 1rem;
  background-image: url(../../assets/icons/info.svg);
  background-size: cover;
  position: relative;
  vertical-align: text-bottom;
}

.info-icon {
  &--left::before {
    margin-right: 0.25rem;
  }

  &--right::after {
    margin-left: 0.25rem;
  }
}