.navbar {

  &.navbar-light {
    background-color: $white!important;
  }
  .navbar-brand {
    img {
      height: $logo-height;
    }
  }

  .dropdown-menu[data-bs-popper] {
    left: auto;
    right: 0;
  }

  .dropdown-item:focus, .dropdown-item:hover {
    background-color: $white;
  }
}

@media (min-width: $medium-screen) {
  .navbar {

    &.navbar-expand-lg {
      .container-fluid {
        @include section-width;
        justify-content: center;
      }

      .navbar-collapse {
        justify-content: flex-end;
      }
    }

    .nav-item.locale {
      padding-left: 3rem;
    }

    .nav-item.dropdown.profile {
      a {
        padding-top: 0;
        padding-bottom: 0;
      }

      a::after {
        vertical-align: -3px;
      }

      img {
        height: 2rem;
        width: 2rem;
        transform: translateY(3px);
      }
    }
  }
}
