body {
  font-family: $header-font-family;
  color: $wam-primary-color-1;
}

h1, h2, h3, h4 {
  font-family: $header-font-family;
}

h2 {
  @include heading-size-medium;
  font-weight: 600;
  margin-bottom: 1rem;

  @media screen and (min-width:$medium-screen) {
    font-size: $font-size-medium-2;
  }

  @media screen and (min-width:$large-screen) {
    font-size: $font-size-large;
    margin-bottom: 1.5rem;
  }
}

h3 {
  @include heading-size-normal;
  font-weight: 600;

  @media screen and (min-width:$medium-screen) {
    @include heading-size-medium;
    font-weight: 400;
  }
}

p, ul, li {
  font-family: $main-font-family;
}

p {
  line-height: $line-height-normal;
}

@media screen and (max-width:$medium-screen - 1) {
  div, p, ul, li, a {
    font-size: $font-size-mobile;
  }
}

a,
a:link,
a:hover,
a:focus,
a:active,
a:visited {
  font-weight: 600;
  color: $wam-primary-color-1;
  text-decoration: none;
} 